@keyframes intro-grid {
  0% {
    transform: scale(1.5);
    max-width: 0%;
  }
}

@keyframes intro-cell {
  100% {
    transform: translate3d(0, 0, 0px);
  }
}

.root {
  --white: rgb(255, 255, 255);
  --gray: rgb(202, 202, 202);
  --black: rgb(0, 0, 0);
  --red: rgb(235, 29, 14);
  --blue: rgb(0, 0, 255);
  --yellow: rgb(255, 195, 65);
  --scale: 16px;
  --gridSize: 40;
  --cellMargin: 6px;
  --offset: 12px;
  --animation-cell: intro-cell 2s forwards;
  --animation-white: 3s;
  --animation-gray: 3.1s;
  --animation-black: 3.2s;
  --animation-red: 3.3s;
  --animation-blue: 3.4s;
  --animation-yellow: 3.5s;

  margin: 0;
  background-color: rgb(34, 34, 34);
  background: radial-gradient(circle, rgb(23, 73, 107) 0%, rgba(0,0,0,1) 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  position: relative;
  width: 100%;
  max-width: calc(var(--gridSize) * var(--scale));
  height: calc(var(--gridSize) * var(--scale));
  grid-template-columns: repeat(auto-fit, minmax(var(--scale), 1fr));
  grid-template-rows: repeat(var(--gridSize), var(--scale));
  grid-auto-flow: dense;
  transition: 1s;
  animation: intro-grid 2s;
  overflow: hidden;
  perspective: 640px;
}

.grid::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('./pixelperfect.jpg');
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0%;
  z-index: 1;
}

.grid::after {
  content: '';
  display: block;
  position: absolute;
  top: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  left: var(--offset);
  background-image: url(./noise.png);
  background-color: var(--black);
  z-index: -1;
}

.grid__cell {
  margin: var(--cellMargin);
  box-shadow: inset 0 0 64px rgba(0, 0, 0, 0.3);
  background-image: url(./noise.png);
  background-size: 400px;
  background-position: center;
  animation: var(--animation-cell);
  transform: translate3d(0, 0, 200px);
}

.grid__cell:nth-child(1) {
  background-color: var(--gray);
  grid-column: span 9;
  grid-row: span 4;
  animation-delay: var(--animation-gray);
}

.grid__cell:nth-child(2) {
  background-color: var(--white);
  grid-column: span 16;
  grid-row: span 4;
  animation-delay: var(--animation-white);
}

.grid__cell:nth-child(3) {
  background-color: var(--yellow);
  grid-column: span 13;
  grid-row: span 4;
  animation-delay: var(--animation-yellow);
}

.grid__cell:nth-child(4) {
  background-color: var(--white);
  grid-column: span 4;
  grid-row: span 11;
  animation-delay: var(--animation-white);
}

.grid__cell:nth-child(5) {
  background-color: var(--red);
  grid-column: span 21;
  grid-row: span 21;
  animation-delay: var(--animation-red);
}

.grid__cell:nth-child(6) {
  background-color: var(--yellow);
  grid-column: span 13;
  grid-row: span 11;
  animation-delay: var(--animation-yellow);
}

.grid__cell:nth-child(7) {
  background-color: var(--white);
  grid-column: span 6;
  grid-row: span 10;
  animation-delay: var(--animation-white);
}

.grid__cell:nth-child(8) {
  background-color: var(--white);
  grid-column: span 7;
  grid-row: span 10;
  animation-delay: var(--animation-white);
}

.grid__cell:nth-child(9) {
  background-color: var(--gray);
  grid-column: span 4;
  grid-row: span 15;
  animation-delay: var(--animation-gray);
}

.grid__cell:nth-child(10) {
  background-color: var(--black);
  grid-column: span 11;
  grid-row: span 11;
  animation-delay: var(--animation-black);
}

.grid__cell:nth-child(11) {
  background-color: var(--gray);
  grid-column: span 10;
  grid-row: span 5;
  animation-delay: var(--animation-gray);
}

.grid__cell:nth-child(12) {
  background-color: var(--white);
  grid-column: span 13;
  grid-row: span 5;
  animation-delay: var(--animation-white);
}

.grid__cell:nth-child(13) {
  background-color: var(--gray);
  grid-column: span 10;
  grid-row: span 5;
  animation-delay: var(--animation-gray);
}

.grid__cell:nth-child(14) {
  background-color: var(--blue);
  grid-column: span 13;
  grid-row: span 8;
  animation-delay: var(--animation-blue);
}

.grid__cell:nth-child(15) {
  background-color: var(--yellow);
  grid-column: span 4;
  grid-row: span 10;
  animation-delay: var(--animation-yellow);
}

.grid__cell:nth-child(16) {
  background-color: var(--black);
  grid-column: span 10;
  grid-row: span 3;
  animation-delay: var(--animation-black);
}

.grid__cell:nth-child(17) {
  background-color: var(--gray);
  grid-column: span 2;
  grid-row: span 30;
  animation-delay: var(--animation-gray);
}

.grid__cell:nth-child(18) {
  background-color: var(--red);
  grid-column: span 2;
  grid-row: span 10;
  animation-delay: var(--animation-red);
}

.grid__cell:nth-child(19) {
  background-color: var(--white);
  grid-column: span 11;
  grid-row: span 4;
  animation-delay: var(--animation-white);
}

.grid__cell:nth-child(20) {
  background-color: var(--white);
  grid-column: span 23;
  grid-row: span 2;
  animation-delay: var(--animation-white);
}
